.secondaryButton {
  border-radius: 0;
  padding-right: 30px;
  padding-left: 0;
  background: none;
  color: white;
  border-bottom: solid #5d6c83;
  position: relative;
}

.iconButton {
  position: absolute;
  right: 0;
  transition: right 0.3s ease-out;
}

.growingLine {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: white;
  width: 0px;
  transition: width 0.3s ease-out;
}

.secondaryButton:hover .growingLine {
  width: 100%;
}

.secondaryButton:hover .iconButton {
  right: -10px;
}

.boldText {
  font-weight: bold;
}
