.mainStackChild {
  max-width: 100%;
}

.mainButton {
  margin-bottom: 40px;
}

.heading2::before {
  font-weight: bold;
  color: #065fe4;
  content: "/ ";
}

.heading2 {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .mainStackChild {
    max-width: 50%;
  }
}
